
/* ---- button ---- */

#fix{
  font-size: 0.9em;  
}

.button {
  display: inline-block; 
  position: relative;
  left: 1%;
  padding: 0.5em 1.0em;
  background: transparent;
  border: none;
  border-radius: 7px;
  /*background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );*/
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  font-weight:bold;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255,0,0,0.9);
  color: #fff;
  text-shadow: none;
}
.button.Gold:hover{
  background: rgba(255,233,179,1);
background: -moz-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,233,179,1)), color-stop(0%, rgba(250,250,0,1)), color-stop(99%, rgba(250,183,0,0.75)), color-stop(100%, rgba(255,224,138,0.75)));
background: -webkit-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: -o-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: -ms-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: linear-gradient(to right, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe9b3', endColorstr='#ffe08a', GradientType=1 );
}
.button.Gold:active,
.button.Gold.is-checked {
  background: rgba(255,233,179,1);
background: -moz-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,233,179,1)), color-stop(0%, rgba(250,250,0,1)), color-stop(99%, rgba(250,183,0,0.75)), color-stop(100%, rgba(255,224,138,0.75)));
background: -webkit-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: -o-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: -ms-linear-gradient(left, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
background: linear-gradient(to right, rgba(255,233,179,1) 0%, rgba(250,250,0,1) 0%, rgba(250,183,0,0.75) 99%, rgba(255,224,138,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe9b3', endColorstr='#ffe08a', GradientType=1 );
  text-shadow: none;
}

.button.Silver:hover{
  background: rgba(224,224,224,1);
background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(0%, rgba(207,207,207,1)), color-stop(57%, rgba(214,214,214,1)), color-stop(86%, rgba(217,217,217,1)), color-stop(100%, rgba(252,252,252,1)));
background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: -o-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fcfcfc', GradientType=1 );
}
.button.Silver:active,
.button.Silver.is-checked {
  background: rgba(224,224,224,1);
background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(0%, rgba(207,207,207,1)), color-stop(57%, rgba(214,214,214,1)), color-stop(86%, rgba(217,217,217,1)), color-stop(100%, rgba(252,252,252,1)));
background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: -o-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(207,207,207,1) 0%, rgba(214,214,214,1) 57%, rgba(217,217,217,1) 86%, rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fcfcfc', GradientType=1 );
  text-shadow: none;
}

.button:active,
.button.is-checked {
  background-color: rgba(255,0,0,0.9);
  text-shadow: none;
}

.button.is-checked {
  color: #fff;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 0.5%;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 7px; }
.button-group .button:last-child { border-radius: 7px; }

/* ---- isotope ---- */



/* clear fix */
.grid:after {/*
  content: '';
  display: block;
  clear: both;*/
}

/* ---- .element-item ---- */

.element-item {
  /*
  padding-left: 2%;
  width: 300px;
  height: 300px; 
  margin: 0.5%;
  */
}
.element-item img{
  /*
  text-align: center;
  top: 0;*/
  max-width: 100%;
  max-height: 100%;
  margin-top: 0;
}
