.diagonals {
  position: fixed;
  height: 200%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  background: #555555;
}

.diagonal {
  height: 100%;
  background: #F45D4C;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transform: rotate(10deg) translateY(-10%) translateX(-20%);
  -moz-transform: rotate(10deg) translateY(-10%) translateX(-20%);
  -ms-transform: rotate(10deg) translateY(-10%) translateX(-20%);
  -o-transform: rotate(10deg) translateY(-10%) translateX(-20%);
  transform: rotate(10deg) translateY(-10%) translateX(-20%);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.diagonal:hover {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin-right: -30px;
}
.diagonal:nth-child(2) {
  background: #F7A541;
}
.diagonal:nth-child(3) {
  background: #FACA66;
}
.diagonal:nth-child(4) {
  background: #60B99A;
}
.diagonal:nth-child(5) {
  background: #54787D;
}
.diagonal:nth-child(6) {
  background: #5B527F;
}

.fill {
  display: flex;
  overflow: hidden;
}

.d0 {
  left: -100%;
  position: absolute;
}

.d1 {
  left: 0%;
  position: absolute;
  top: 80px;
}

.d2 {
  left: 0%;
  position: relative;
  top: 80px;
}
