

// REQUIRED Styles
// Updated post CSS-Tricks article
// http://css-tricks.com/polylion
// ===========================================

$polylion-height: 800px;

.polylion polygon {
  opacity: 0;

  .no-js & {
    opacity: 1;
  }
}

.polylion {
  height: $polylion-height;
  

  > polygon {
    .no-cssanimations & {
      transform: scale(1);
      opacity: 1;
    }
  }
}