.container-fluid {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}
.footer, .push {
   height: 0em;
}

#head-img{
	width: 120vw;
	height: 100px;
	position: relative;
}
.name{
	padding-top: 2%;
	font-size: 3em;
	text-align: center;
}
.speaker-icon{
	width: 100%;
}
.nav-tabs a:hover{
	color:#e62b1e;
}
.nav-tabs > li.active{
	border-bottom: 1px solid #e62b1e;
}