* {
	margin: 0;
	padding: 0;
}
html{
  height: 100%;
  background-color: #f2f2f2;
}
body {
  min-height: 100%;
}
body p{
  color:#000000;
}
body h3{
  text-align:center;
  color:#6e3e8f;
}
body span{
  color:#6e3e8f;
  font-weight: bold;
}
/*Mobile customization*/
/*Home mobile*/
/*make the first div be as large as is the viewport of the visitor*/
#home-m{
  height: 100vh;
  background-color: #f2f2f2;
}
#home-m img{
  height:inherit;
}

/*About mobile*/
#about-m{
  position: relative;
}
#bg{/*all images as a background, such as about.png to be full width*/
  width: 100vw;
}
#more-about{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}

/*Theme mobile*/
#theme-m{
  position: relative;
}
#more-theme{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}

/*Speakers mobile*/
#speakers-m{
  background-color: #f2f2f2;
}

/*performers mobile*/
#performers-m{
  max-width: 100vw;
  position: relative;
  text-align: center;
}

/*venue mobile*/
#venue-m{
  position: relative;
}
#more-venue{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}
#hidden-venue h3{
   text-align:center;
}

/*partners mobile*/
#partners-m{
  position: relative;
}
#more-partners{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}
#hidden-partners h3{
   text-align:center;
}

/*Team mobile*/
#team-m{
 position: relative;
}/*
#team-m img{
  width: auto;
  max-width: 100%;
  height: 370px;
  position: relative;
}*/
#more-team{
  height: auto;
  position: absolute;
  top: 70%;
  left: 70%;
}

#cd-team {
  background-color: transparent;
}

#cd-team .cd-member-info {
  background: #ffffff;
}

#cd-team .cd-img-overlay { /*change the hover color */
  background: rgba(0, 0, 0, 0.7);
}

#cd-team .cd-img-overlay .ted-team{
  position: relative;
  width: 25%;
  height: 25%;
  top:50%;
  left: 40%;
}
#cd-team .cd-img-overlay .linkedin-team{
  position: relative;
  width: 25%;
  height: 25%;
  top:30%;
  left: 70%;
}


/*Contact mobile*/
#send{
  background-color: #25b3c7;
}
#contact-m{
  position: relative;
}


/*Social icons in the menu */
.sidebar-nav .social {
  list-style: none;
  margin: 0;
  padding-left: -10%;
  position: relative;
  top: 10px;
  width: 25%;
}
.sidebar-nav{
  min-height: 100vh;
}
/*svinw to mwv apo panw*/
#page-content-wrapper{
  padding-top: 0;
}
/*Edw allazei to xrwma apo to hamburger*/
.hamburger.is-closed .hamb-top {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #25b3c7;
}
.hamburger.is-closed .hamb-middle {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #25b3c7;
}
.hamburger.is-closed .hamb-bottom {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #25b3c7;
}
/*footer*/
#love{
  color: #666;
  font-size: 12px;
  display: block;
  bottom: 10px;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

/*hover for speakers*/
.view {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: left;
   /*border: 10px solid #fff;*/
    overflow: hidden;
    position: absolute;
    text-align: center;
    /*box-shadow: 1px 1px 2px #e6e6e6;*/
    cursor: default;
    background: #fff no-repeat center center;
}
.view .mask, .view {
    width: 330px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
}
.mask{
  position: relative;
  top:0;
  left:inherit;
}
.view img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top:50%;
  left:0%;

}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    border-radius:5px; 
}
.view p {
    /*font-family: Georgia, serif;*/
    font-style: italic;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    border-radius:25px; 
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000; 
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(110,62,143, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
  transform: scale(1.1);
} 
.view-first:hover .mask { 
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
/*this class makes the mask always in the center, as is also the image */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*End of hover for speakers*/




/*DESKTOP CUSTOMIZATION DESKTOP CUSTOMIZATION DESKTOP CUSTOMIZATION DESKTOP CUSTOMIZATION */
 /*desktop menu */

 .open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
  z-index: 10;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: green;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0, 1, 1, .02);
  height: 0;
  width: 50%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: purple;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -200px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li:nth-child(6) { -webkit-transition-delay: 0.30s; }

.sub-menu li:nth-child(7) { -webkit-transition-delay: 0.35s; }

.sub-menu li:nth-child(8) { -webkit-transition-delay: 0.40s; }

.sub-menu li:nth-child(9) { -webkit-transition-delay: 0.45s; }

.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
} 

.oppenned .sub-menu {
  opacity: 1;
  height: 180%;/*kai auta allazoume gia to mwv!! */
  width: 180%;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px; /*Ama allaksoume auta, allazei to pou emfanizetai o kyklos*/
  top: -160px;
  border-radius: 50%;
  background-color: white;
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }

/*DESKTOP CUSTOMIZATION*/
#menu-button{
  z-index: 2;
  position: absolute;
  top: 25%;
  right: 50%;
}

.about{
  padding-top: 5%;
}
.theme{ /*Theme div*/
  background-color: #e62b1e;
  padding-top: 5%;
}

.speakers{/*speakers div*/
  background-color: #000000;
  padding-top: 5%;
}

.partners img{
  padding-top: 5%;
  margin: 0 auto; /*to bring the image in the center */
}

.team{
  padding-top: 5%;
  background-color: yellow;
}
.team img{
  margin: 0 auto; /*to bring the image in the center */
}