* {
	margin: 0;
	padding: 0;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
}

#home{
	/*background-image: url('images/gravityofthoughts.jpg') no-repeat;*/
	height: 100%;
	background-color: red;
	/*max-width: 100vw;*/
}

#logo{
	z-index: 1;
	height: 100vh;
	/*width: 100vw;*/
}

#menu-button{
	z-index: 2;
	position: absolute;
	top: 25%;
	right: 50%;
}

.theme{ /*Theme div*/
	background-color: #e62b1e;
}

/*mmenu - mobile menu ################################################################## */
body {
          padding-top: 50px;
          position: relative;
      }
      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }