* {
	margin: 0;
	padding: 0;
}
html{
  height: 100%;
  min-height: 100%;
  background-color: #f2f2f2;
}
body {
  min-height: 100%;
  background-image: url(images/clean-white-polygon-backgrounds-1.png);
}
body p{
  color:#000000;
}
body h3{
  text-align:center;
  color:#6e3e8f;
}
body span{
  color:#6e3e8f;
  font-weight: bold;
}
/*Mobile customization*/
/*Home mobile*/
/*make the first div be as large as is the viewport of the visitor*/
#home-m{
  height: 100vh;
  background-color: #f2f2f2;
}
#home-m img{
  height:65vh;
  padding-top: 3%;
}

/*About mobile*/
#about-m{
  position: relative;
}
#bg{/*all images as a background, such as about.png to be full width*/
  width: 100vw;
}
#more-about{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}

/*Theme mobile*/
#theme-m{
  position: relative;
}
#more-theme{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}

/*Speakers mobile*/
#speakers-m{
  background-color: #f2f2f2;
}

/*performers mobile*/
#performers-m{
  max-width: 100vw;
  position: relative;
  text-align: center;
}

/*venue mobile*/
#venue-m{
  position: relative;
}
#more-venue{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}
#hidden-venue h3{
   text-align:center;
}
#map{
  text-align: center;
  width: 100%;
}

/*partners mobile*/
#partners-m{
  position: relative;
}
#more-partners{
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
}
#hidden-partners h3{
   text-align:center;
}

/*Team mobile*/
#team-m{
 position: relative;
}/*
#team-m img{
  width: auto;
  max-width: 100%;
  height: 370px;
  position: relative;
}*/
#more-team{
  height: auto;
  position: absolute;
  top: 70%;
  left: 70%;
}
/*TO THE OTHER FILE. CSS/STYLE.CSS */
#cd-team {
  background-color: transparent;
}

#cd-team .cd-member-info {
  background: #ffffff;
}

#cd-team .cd-img-overlay { /*change the hover color */
  background: #000;
  height: 50%;
}

#cd-team .cd-img-overlay .ted-team{
  position: absolute;
  width: 30%;
  height: 80%;
  bottom: 0;
  left: 0;
}
#cd-team .cd-img-overlay .linkedin-team{
  position: absolute;
  width: 30%;
  height: 80%;
  bottom: 0;
  right: 0;
} 

#aboutsm{
    position: relative;
}
#more-aboutsm{
 height: auto;
  position: absolute;
  top: 80%;
  left: 80%;
    
}



/*Contact mobile*/
#send{
  background-color: #25b3c7;
}
#contact-m{
  position: relative;
}



/*Social icons in the menu */
.sidebar-nav .social {
  list-style: none;
  margin: 0;
  padding-left: -10%;
  position: relative;
  top: 10px;
  width: 25%;
}
.sidebar-nav{
  min-height: 100vh;
}
/*svinw to mwv apo panw*/
#page-content-wrapper{
  padding-top: 0;
}
/*Edw allazei to xrwma apo to hamburger*/
.hamburger.is-closed .hamb-top {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #25b3c7;
}
.hamburger.is-closed .hamb-middle {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #25b3c7;
}
.hamburger.is-closed .hamb-bottom {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #25b3c7;
}
/*footer*/
#love{
  color: #fff;
  font-size: 15px;
  display: block;
  bottom: 10px;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

/*hover for speakers*/
.view {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: left;
   /*border: 10px solid #fff;*/
    overflow: hidden;
    position: absolute;
    text-align: center;
    /*box-shadow: 1px 1px 2px #e6e6e6;*/
    cursor: default;
    background: #fff no-repeat center center;
}
.view .mask, .view {
    width: 330px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
}
.mask{
  position: relative;
  top:0;
  left:inherit;
}
.view img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top:50%;
  left:0%;

}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    border-radius:5px; 
}
.view p {
    /*font-family: Georgia, serif;*/
    font-style: italic;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    border-radius:25px; 
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000; 
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(110,62,143, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
  transform: scale(1.1);
} 
.view-first:hover .mask { 
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
/*this class makes the mask always in the center, as is also the image */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*End of hover for speakers*/


/*SM MD CUSTOMIZATION*/
#aboutsm{
  position: relative;
}
/*MENU ANIMATION   --------------------------- */
.zIndex2{
  z-index: 2;
}
#stable{
  position: absolute;
  top:0;
  left:0;
}
.fr{
  position: absolute;
  top:30%;
  left:45%;
  width: 10%;
  height: auto;
  opacity: 0;
}
#clickMe{
  width: 7%;
  height: auto;
  position: absolute;
  left:42.5%;
  top:25%;
  opacity: 1;
}


/*END OF MENU ------------------------ */


/*DESKTOP CUSTOMIZATION DESKTOP CUSTOMIZATION DESKTOP CUSTOMIZATION DESKTOP CUSTOMIZATION */

#menu-button{
  z-index: 2;
  position: absolute;
  top: 25%;
  right: 50%;
}

.about{
  padding-top: 5%;
}
.theme{ /*Theme div*/
  background-color: #e62b1e;
  padding-top: 5%;
}

.speakers{/*speakers div*/
  background-color: #000000;
  padding-top: 5%;
    height:100vh;
}
.partners{
  position: absolute;
}
.partners img{
  padding-top: 5%;
  margin: 0 auto; /*to bring the image in the center */
  position: relative;
}

.team{
  padding-top: 5%;
  background-color: yellow;
}
.team img{
  margin: 0 auto; /*to bring the image in the center */
}
.noesis{
    height: 40.45084971874vh;
    margin: 0;
}
.koko{
    width: 35vw;
    height: 400px;
}
.koko1{
     width: 30vw;
    height: 400px;
}
.papa{
    padding: 0;
}
.brain{
    height:60vh;
}
.brain #stable{
  height: 100%;
  width: 100%;
}

.counter{
    height:30vh;
    position:absolute;
}
.vh{
    height: 100vh;
}


.footer{
    background-color: rgb(85, 94, 91);
 height:250px;
    position: relative;
    
    
    
}
.aboutTED{
    height:50vh;
    padding-top: 15%;
}
#ver1{
    padding-left: 31%;
    padding-bottom: 2%; 
}
#ver2{
    padding-right: 31%;
    padding-top: 4%;
}
.map{
    position: relative;
    display:block;
}
#TEDXuom{
    background-image: url(images/clean-white-polygon-backgrounds-1.png);
    
    position: relative;
}
   #TED{
    background-image: url(images/clean-white-polygon-backgrounds-1.png);
    
    position: relative;
       padding-bottom: 2%;
    padding-top: 2%
}
#TEDx{
    background-image: url(images/clean-white-polygon-backgrounds-1.png);
    
    position: relative;
    padding-bottom: 2%;
    padding-top: 2%;
}

.map {
	width:100%;
	height:500px;	
}


map-container {
	width: 100%;
	margin: 50px 0 3000px;
}
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

.row{
  margin: 0;
}